@import '../../global.scss';

.cards{
    display: flex;
    flex-direction: column;

}

.card-body{
   border-top: 1px solid rgba(0, 0, 0, 0.151);
}
.card-descricao{
    display:none;
    transition: 0.5s linear alternate;
}


.card-body:hover .card-descricao:focus{
    display:block;
}