@import '../../global.scss';

.header{
    background-color: $bgRoxo;
    color: $clBranco;
    height: 100px;

    &_content{
        // background-color: rgb(58, 196, 76);
    }
}

.logo{
   color:rgb(245, 187, 111);
   font-size: 2em;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    // background-color: chocolate;
    
    .menu{
      display: flex;
      flex-direction: row;
      height: 100%;

      &_icon{
        display: flex;
        align-items: flex-start;
      }
    }
}